target/
.classpath
.project
.settings
*.asta.lock
*.~vsdx
*.bak
.idea/
*.iml
$*
.DS_Store
logs/
*.log
*.orig
/nbactions.xml
/source/domain/model/nbactions.xml
application.local.properties
/source/domain/terminology/nbproject/
